*{
    margin: 0;
    padding: 0;
}
.form{
    width: 35vw;
    height: 20vh;
    border: 1px solid red;
    padding: 10px;
    display: flex;
    flex-direction: column;
    &__form{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        &-label{
            display: flex;
            
            width: 100%;
        }
        &-input{
            width: 100%;
        }
        &>button{
            background: none;
            border: none;
        }
    }
    &__result{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}