*{
    margin: 0;
    padding: 0;
}
.form{
    width: 35vw;
    height: 30vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    &__form{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        &-label{
            display: flex;

            width: 100%;
        }
        &-input{
            width: 100%;
        }
        &-input:focus{
            outline: none;
        }
        &>button{
            background: none;
            border: none;
            border: 1px solid black;
            border-radius: 10%;
            padding:5px;
            margin-top: 10px;
        }
    }
    &__result{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}
.darkMode{
    background-color: black;
    color: white;
    border: white 1px solid;
}
.emailError{
    border: red 1px solid;
}